<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NobitexAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NobitexAlert.Properties.Settings>
            <setting name="CryptoSymbol" serializeAs="String">
                <value>SOL</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.75</value>
            </setting>
            <setting name="AlertEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertAtAbovePrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlertAtBelowPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlertTimes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Currency" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>15000</value>
            </setting>
        </NobitexAlert.Properties.Settings>
    </userSettings>
</configuration>